<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>SM software</title>
</head>
<style>
    .header{
        display: none !important;
    }
</style>
<body>
    <header class="header">

        <nav class="nav">
            <div class="container-logo">
                <img src="../static/images/logoSambil.png" alt="Logo" width="70px" height="70px">
            </div>

            <div class="container-logo">
                <input type="search" placeholder="Busqueda por tienda...." class="search-input">
            </div>

            <ul class="nav-list">
                <li class="nav-item"><a href="{{url_for('inbox')}}" class="nav-link">Inicio</a></li>
                <li class="nav-item"><a href="{{url_for('reporteTiendas')}}" class="nav-link">Tiendas registradas</a></li>
                <li class="nav-item"><a href="{{url_for('reporteFallas')}}" class="nav-link">reportes</a></li>
                <li class="nav-item switch">
                    <a class="btn nav-boton mr-2 " id="darkModeToggle" role="button">
                        <i class="fas mb-2 mr-1 fa-moon theme-icon"></i>
                      </a>
                </li>
                <li class="nav-item nav-item__drop">
                        <div class="drop-menu">
                            <ul class="drop-list">
                                <li class="drop-item"><a href="{{url_for('editUser')}}" class="drop-link">Usuario</a></li>
                                <li class="drop-item"><a href="{{url_for('logout')}}" class="drop-link">Cerrar sesion</a></li>
                            </ul>
                        </div>
            </li>
            </ul>
        </nav>
    </header>


    
    <div class="wrapper">
        <div class="img-container">
            <img class="sambil" src="../static/images/image003.png" alt="">
        </div>
        <form class="form" action="/forgot-password" method="post">
            {% if message %}
            <div class="alert">
                {{message}}
            </div>
            {% endif %}

            {% if message_succes %}
            <div class="succes">
                {{message_succes}}
            </div>
            {% endif %}
            <div class="form-container">
                <input class="form__user-input" type="email" placeholder="Correo electronico" name="email">
            </div>

            <div class="form-container btn-login__container">
                <button type="submit" class="form__btn form__btn-login">Enviar correo</button>
            </div>
            
            <div class="form-container">
                <a class="form__link" href="{{url_for('home')}}">Regresar</a>
            </div>

        </form>
    </div>

    <script src="../static/js/darkMode.js"></script>
</body>
</html>