<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>SM software</title>
</head>
<style>
</style>
<body>
    
    <div class="wrapper">
        <div class="img-container">
            <img class="sambil" src="../static/images/image003.png" alt="">
        </div>
        <form class="form" action="/login" method="post">
            {% if message %}
            <div class="alert">
                {{message}}
            </div>
            {% endif %}
            <div class="form-container">
                <input class="form__user-input" type="email" placeholder="Usuario" name="email">
            </div>

            <div class="form-container">
                <input class="form__password-input" type="password" placeholder="Contraseña" name="contraseña">
            </div>

            <div class="form-container btn-login__container">
                <button type="submit" class="form__btn form__btn-login">Iniciar sesión</button>
            </div>

            <div class="form-container">
                    <button type="submit" class="form__btn form__btn-regist"><a class="btn-link" href="{{ url_for('regist')}}">Registrate</a</button>
            </div>

            <div class="form-container">
                <a class="form__link" href="{{url_for('forgot')}}">Olvidaste tu contraseña?</a>
            </div>

        </form>
    </div>

</body>
</html>