<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Tiendas</title>

</head>
<body>
    {% include 'header_tiendas.html' %}


    <div class="container">
        <div class="card mt-3 w-25 mx-auto d-block">
            <div class="card-body newFalla">
                <img src="{{url_for('static', filename='images/circle-plus-solid.svg')}}" alt="anadir tarea" width="25px" class="mx-auto d-block" data-bs-toggle="modal" data-bs-target="#falla-modal">

                {% if message %}
                <div class="alert">
                 {{message}}
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Reportes -->
         <div class="row row-col-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4 mt-3 card-container">
            {% for falla in fallas %}
               <div class="col-md-3 contenedor-reporte">
                <div class="card card-falla">
                    <div class="card-header">
                        <label>{{falla.tienda}}</label>
                    </div>
                    <div class="card-body">
                        <div class="card-item">
                            <label>Encargado:</label>
                            {{falla.name}} {{falla.surname}}
                        </div>
                        <div class="card-item">
                            <label>Area:</label>
                            {{falla.area}}
                        </div>

                        <div class="card-item item-mb">
                            <label>Tipo:</label>
                            {{falla.tipo}}
                        </div>

                        <div class="card-item">
                            <label>Descripcion:</label>
                            {{falla.descripcion}}
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-between">
                        {{falla.fecha}}
                        <form action="/delete-falla" method="post">
                            <input type="hidden" value="{{falla.id}}" name="id">
                        </form>
                    </div>
                </div>
               </div>
            {% endfor %}
         </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="falla-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva falla</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/new-falla" method="post">
            <label>Nombre</label>
            <div class="form-control mb-3" name="name">{{session['name']}}</div>

            <label>Apellido</label>
            <div class="form-control mb-3" name="surname">{{session['surname']}}</div>

            <label>Nombre de la tienda</label>
            <div class="form-control mb-3" name="tienda">{{session['tienda']}}</div>

            <label>Selecciona el Area</label>
            <select name="area" class="form-control mb-3 select">
                <option value= "Selecciona un area">Selecciona un area</option>
                <option value="Electrica">Electrica</option>
                <option value="Plomeria">Plomeria</option>
                <option value="Aire acondicionado">Aire acondicionado</option>
                <option value="Telecomunicaciones">Telecomunicaciones</option>
            </select>

            <label class="label-tipo">Selecciona el tipo de falla</label>
            <select name="tipo" class=" form-control mb-3 select" id="tipo__falla-modal-tiendas">
                <option value= "Selecciona un tipo">Selecciona un tipo</option>
                <option value="Cambio de iluminacion" class="tipo-electrico option">Cambio de iluminacion</option>
                <option value="Tomacorriente" class="tipo-electrico2 option">Tomacorriente</option>
                <option value="Cambio de breakers" class="tipo-electrico3 option">Cambio de breakers</option>
                <option value="Ajuste de breakers" class="tipo-electrico4 option">Ajuste de breakers</option>
                <option value="Cambio de llave de arresto" class="tipo-plomeria option">Cambio de llave de arresto</option>
                <option value="Sifon" class="tipo-plomeria2 option">Sifon</option>
                <option value="Herraje" class="tipo-plomeria3 option">Herraje</option>
                <option value="Manguera W.C/Lavamano" class="tipo-plomeria4 option">Manguera W.C/Lavamano</option>
                <option value="Griferias" class="tipo-plomeria5 option">Griferias</option>
                <option value="Unidad de aire no enfria" class="tipo-AC option">Unidad de aire no enfria</option>
                <option value="Unidad de aire no enciende" class="tipo-AC2 option">Unidad de aire no enciende</option>
                <option value="Telefonia" class="tipo-telecoms option">Telefonia</option>
                <option value="Internet" class="tipo-telecoms2 option">Internet</option>
                <option value="Otro" class="option">Otro</option>
            </select>

            <label>Descripcion</label>
            <textarea class="form-control mb-3" rows="5" name="descripcion"></textarea>

            <label>Fecha</label>
            <input type="date" class="form-control mb-3" name="fecha" placeholder="yyyy-mm-dd" min="2025-01-01" id="fecha">

            <button type="submit" class="btn btn-primary w-100 btn-fechas">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<script>
    // Obtener el select de 'Area'
var areaSelect = document.querySelector('select[name="area"]');
    
    // Obtener los select de tipo para cada área
    var tipoElectrico = document.querySelector('.tipo-electrico');
    var tipoElectrico2 = document.querySelector('.tipo-electrico2');
    var tipoElectrico3 = document.querySelector('.tipo-electrico3');
    var tipoElectrico4 = document.querySelector('.tipo-electrico4');

    var tipoPlomeria = document.querySelector('.tipo-plomeria');
    var tipoPlomeria2 = document.querySelector('.tipo-plomeria2');
    var tipoPlomeria3 = document.querySelector('.tipo-plomeria3');
    var tipoPlomeria4 = document.querySelector('.tipo-plomeria4');
    var tipoPlomeria5 = document.querySelector('.tipo-plomeria5');

    var tipoAC = document.querySelector('.tipo-AC');
    var tipoAC2 = document.querySelector('.tipo-AC2');
    
    var tipoTelecoms = document.querySelector('.tipo-telecoms');
    var tipoTelecoms2 = document.querySelector('.tipo-telecoms2');
    var tipoSelect = document.getElementById('tipo__falla-modal-tiendas');
    
    // Mostrar u ocultar el select de tipo según la opción seleccionada en 'Area'
    areaSelect.addEventListener('change', function() {
        // Ocultar todos los selects de tipo
        tipoSelect.selectedIndex = 0;

        tipoElectrico.style.display = 'none';
        tipoElectrico2.style.display = 'none';
        tipoElectrico3.style.display = 'none';
        tipoElectrico4.style.display = 'none';

        tipoPlomeria.style.display = 'none';
        tipoPlomeria2.style.display = 'none';
        tipoPlomeria3.style.display = 'none';
        tipoPlomeria4.style.display = 'none';
        tipoPlomeria5.style.display = 'none';

        tipoAC.style.display = 'none';
        tipoAC2.style.display = 'none';

        tipoTelecoms.style.display = 'none';
        tipoTelecoms2.style.display = 'none';
    
        // Mostrar el select de tipo correspondiente a la opción seleccionada
        var selectedArea = areaSelect.value;
        if (selectedArea === 'Electrica') {
            tipoElectrico.style.display = 'block';
            tipoElectrico2.style.display = 'block';
            tipoElectrico3.style.display = 'block';
            tipoElectrico4.style.display = 'block';
        } else if (selectedArea === 'Plomeria') {
            tipoPlomeria.style.display = 'block';
            tipoPlomeria2.style.display = 'block';
            tipoPlomeria3.style.display = 'block';
            tipoPlomeria4.style.display = 'block';
            tipoPlomeria5.style.display = 'block';
        } else if (selectedArea === 'Aire acondicionado') {
            tipoAC.style.display = 'block';
            tipoAC2.style.display = 'block';
        } else if (selectedArea === 'Telecomunicaciones') {
            tipoTelecoms.style.display = 'block';
            tipoTelecoms2.style.display = 'block';
        }
    });
</script>

<script>
        // Obtener el input de fecha
  var inputFecha = document.getElementById('fecha');

// Mostrar un selector de fecha personalizado
  inputFecha.addEventListener('focus', function() {
    var datepicker = new Datepicker(inputFecha, {
        format: 'yyyy-mm-dd',
        autohide: true
    });
  });

// Convertir y mostrar la fecha en el formato deseado antes de enviarla al servidor
  inputFecha.addEventListener('change', function() {
    var dateParts = inputFecha.value.split('-');
    var formattedDate = dateParts[2] + '-' + dateParts[1] + '-' + dateParts[0];
    console.log(formattedDate); // Esta es la fecha en el formato yyyy-mm-dd
  });
</script>

</body>
</html>